.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo{
    display: flex;
    justify-content: center;
    color: #fff;
}
.navbar .link {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    display: block;
    margin-left: 15px;
    font-size: 20px;
    transition: all 0.8s linear;
}
.navbar ul li a:hover{
    background-color: grey;
}
.img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url('beauty.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: #fff;
    padding-bottom: 40px;
    

}
.card-img-top{width: 100%;
    height:300px;
    object-fit: cover;
}
.part1{
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: space-between;
    
}

.part1 .mini a{
    text-decoration: none;
    color: black;
    
    
}


.part1 .mini{
   justify-self: flex-end;
}

.card i {
    text-align: center;
}
.form{
    border-top: black 1px solid;
    padding: 20px;
}
.footer{
    color: #fff; 
    text-align: center; 
    padding: 20px;

}
#info{
    display: flex;
    justify-content: space-between;
  
    
}


#info .col-4 {

    width: 300px;
}
